doctype html
html
  head
    meta(charset='utf-8')
    title Weather UI Web Form
    link(rel='stylesheet', href='/css/style.css')
  body
    .content
      #form
        h1 What's the current temperature?
        form(method='POST', action='/form')
          table
            tr
              td
                label Zip Code
              td
                input(type='text', name='zip', placeholder='37219', value='37219')
            tr
              td(colspan='2')
        button Get Temp
